{% extends 'base.html' %}
{% block content %}
<div class="container d-flex justify-content-center my-5">
    <div class="row text-center border shadow-lg py-4" id="order_content">
        <div class="col-12">
            <i class="fa fa-check" id="check"></i>
        </div>
        <div class="col-12">
            <h1 class="fw-bolder">Congratulations...!</h1>
        </div>
        <div class="col-12">
            <h3 class="fw-bolder">Your Order Was Successfully Placed....</h3>
        </div>
        <div class="col-12">
            <h4 class="fw-bolder">Our Delivery Agent Will Contact You Shortly....</h4>
        </div>
    </div>
</div>
{% endblock %}
